@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left: 1rem;
    }

    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }

    .numbers .rect{
        width: 10rem;
        height: 8rem;
    }

    .numbers .rect h1{
        font-size: 2rem;
    }

    .section-3{
        height: inherit;
        padding: 10vmin !important;
    }

    .section-3 .row h1{
        padding: 6vmin 10vmin;
    }

    .section-3 .row .col-md-6{
        text-align: center !important;
    }

    .section-3 .desktop i{
        font-size: 8vmin;
    }

    .section-4 .team{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-4 .carousel-inner{
        width: 22rem;
    }

    /* .navbar-toggler{
        border-color: white;
        background-color: white;
    }
    .navbar-toggler-icon{
        background-color: white;
    } */

    header .row .col-md-5 img{
        position: relative;
        right: 10rem;
        top: 5rem;
    }

    .section-1 .row .col-md-6 img{
        margin-top: 8rem;
    }

    footer .row .col-md-2 #follow{
        width: 10rem;
    }
    footer .row .col-md-2 .column{
        width: 20rem;
    }

    footer .row .col-md-5 .input-group{
        width: 18rem;
        position: relative;
        right: 5rem;
    }
    
}

@media only screen and(max-width:425px){
    
    footer .row .col-md-2{
        margin-top: 8vmin;
    } 
}
